@import url("bootstrap.min.css");

.topbar input {
    padding: 0 2px;
    width: 7em;
}

.topbar-inner, .topbar .fill {
    padding: 5px 0;
}

.topbar div > ul a, .nav a {
    padding: inherit;
    line-height: normal;
}

.topbar input:focus, .topbar input.focused {
    border: 1px solid #111;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.25);
    padding: 0 2px;
}

.topbar .btn {
    padding: 0.1em 0.4em;
}

.btn:focus, btn.focused {
    background-position: 0 -15px;
    color: #333;
    text-decoration: none;
}