<!DOCTYPE html>

<html>
  <head>
    <meta content="text/html;charset=UTF-8" http-equiv="Content-type">
    <title>bbtest</title>
  </head>
  <body>
    <form action="/bbtest" method="POST">
      <textarea rows="10" cols="30" name="bbcode">
      </textarea>
      <input type="submit" value="Parse">
    </form>
    <!-- TMPL_IF parsed -->
    <!-- TMPL_VAR rendered -->
    <br />
    <!-- TMPL_VAR parsed -->
    <!-- /TMPL_IF -->
  </body>
</html>
