<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'>
  <head>
    <meta http-equiv='Content-Type' content='text/html;charset=utf-8' />
    <title>Quests</title>
  </head>
  <body>
    <!-- TMPL_LOOP quests -->
    <hr />
    <h3><a href="<!-- TMPL_VAR quest-url  -->"><!-- TMPL_VAR quest-title --></a></h3>
    <h4><!-- TMPL_VAR chapter-title --></h4>
    <!-- TMPL_LOOP posts -->
    <!-- TMPL_IF post-title -->
    <h5><!-- TMPL_VAR post-title --></h5>
    <!-- /TMPL_IF -->
    <small><!-- TMPL_VAR author --></small>
    <small><!-- TMPL_VAR date --></small>
    <p><!-- TMPL_VAR body --></p>
    <!-- /TMPL_LOOP -->
    <!-- /TMPL_LOOP -->
  </body>
</html>
