<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'>
  <head>
    <meta http-equiv='Content-Type' content='text/html;charset=utf-8' />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="/static/quest.css" rel="stylesheet" />

    <title>Quests</title>
  </head>
  <div class="topbar" style="position: relative;">
    <div class="fill">
      <div class="container">
        <ul class="nav">
          <li><h3><a href="/">Quest</a></h3></li>
        </ul>
        <ul class="nav secondary-nav">
          <!-- TMPL_IF user-name -->
          <li><a><!-- TMPL_VAR user-name --></a></li>
          <li>
            <form action="/logout" method="POST">
              <button type="submit" class="btn">Log Out</button>
            </form>
          </li>
          <!-- TMPL_ELSE -->
          <form action="/login" method="POST">
            <input type="text" name="name" placeholder="Username" />
            <input type="password" name="password" placeholder="Password" />
            <button type="submit" class="btn login">Log In</button>
          </form>
          <!-- /TMPL_IF -->
        </ul>
      </div>
    </div>
  </div>
  <body>
    <div class="container">
      <!-- TMPL_LOOP quests -->
      <hr />
      <h3><a href="/quest/<!-- TMPL_VAR quest-id -->"><!-- TMPL_VAR quest-title --></a></h3>
      <h4><!-- TMPL_VAR chapter-title --></h4>
      <!-- TMPL_LOOP posts -->
      <!-- TMPL_IF post-title -->
      <h5><!-- TMPL_VAR post-title --></h5>
      <!-- /TMPL_IF -->
      <small><!-- TMPL_VAR author --></small>
      <small><!-- TMPL_VAR date --></small>
      <p><!-- TMPL_VAR body --></p>
      <!-- /TMPL_LOOP -->
      <!-- /TMPL_LOOP -->

      <div class="pagination">
        <ul>
          <li class="prev<!-- TMPL_IF disabled-prev --> disabled<!-- /TMPL_IF -->"><a href="#">&larr; Previous</a></li>
          <!-- TMPL_LOOP prev-pages -->
          <li><a href="page/<!-- TMPL_VAR pagenum -->"><!-- TMPL_VAR pagenum --></a></li>
          <!-- /TMPL_LOOP -->
          <li class="active"><a href="#"><!-- TMPL_VAR this-page --></a></li>
          <!-- TMPL_LOOP next-pages -->
          <li><a href="page/<!-- TMPL_VAR pagenum -->"><!-- TMPL_VAR pagenum --></a></li>
          <!-- /TMPL_LOOP -->
          <li class="next<!-- TMPL_IF disabled-next --> disabled<!-- /TMPL_IF -->"><a href="#">Next &rarr;</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
